body{
background-color: rgb(99, 132, 175);
font: normal 15pt Arial;
}
header{
    color: cornsilk;
    text-align:center ;

}
section{
    background-color: rgb(231, 222, 191);
    border-radius: 10px;
    padding: 100px;
    width: 200px;
    margin:auto;
    /* box-shadow: 5px, 5px, 5px black; */
    box-shadow: 7px 5px 5px -2px rgba(201, 163, 171, 0.525);

}
footer{
    color: cornsilk;
    text-align:center;
}
.fotoDoDia {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-left: 5px;
    border-radius: 90%;
}
div{ /*Para Formata as div*/
    text-align: center; /*Para centraliza o texto das div*/
    /* padding: 10px;Para da espasamento das div as div */
     
}
